annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bcrypt==4.0.1
cffi==2.0.0
click==8.3.1
cryptography==46.0.5
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.135.1
groq==0.18.0
h11==0.16.0
idna==3.11
langchain==0.3.27
langchain-core==0.3.75
motor==3.7.1
pymongo==4.15.3
passlib==1.7.4
pyasn1==0.6.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PyMySQL==1.1.2
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.47
starlette==0.52.1
tavily-python==0.5.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
